*{
    transform: scale(1.1);
   transform-origin: 0 0;
}

body {
    height: 500px;
    width: 450px;
    text-align: center;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    body {font-size: 85%;}
}
