@font-face {
  font-family: "starDate";
  src: url(stardate-81316-font/Stardate81316-aolE.ttf);
}

@font-face {
  font-family: "edgeOfGalaxy";
  src: url(edge-of-the-galaxy-font/EdgeOfTheGalaxyRegular-OVEa6.otf);
}

body {
  background-color: black;
  color: #F5D746;
  font-family: edgeOfGalaxy;
}

li{
  list-style-type: none;
 }

audio {
  margin: 0 auto; 
  display: table;
}

.center * {
  text-align: center;
}


a {
  color: black;
}

.navBar {
  display: flex;
  flex-direction: row;
  background-color: #9797FC;
  list-style-type: none;
}

.navBar li{
  text-align: center;
  display: inline;
  list-style-type: none;
}

.apply {
  background-color: #9797FC;
  display: flex;
  flex-direction: row;
}

.apply, .navBar{
  border-radius: 100px;
  
}

.hbtn {
  border-style: solid;
  border-width: 5px;
  padding-top: 9%;
  padding-bottom: 9%;
  color: black;
}

.fbtn {
  padding: 1vh;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 5%;
  border-right: 5px solid black;
  border-left: 5px solid black;
  position: relative;
  margin-top: -0.5%;
  margin-bottom: -1%;
}
.fbtn, .hbtn{
  color: black;
  font-family: starDate;
  font-size: 200%;
}

a:link {
  text-decoration: none;
}

.galleryImg {
  height: 25vh;
  width: 25vw;
}

select, option, input, label {
  border: #9797FC;
  background-color: #9797FC;
  border-radius: 100px;
  font-family: starDate;
  color: black;
  font-size: large;
  font-size: small;
  font-size: 120%;
}
.bottomBar{
  border: #9797FC;
  background-color: #9797FC;
  border-radius: 100px;
  width: 99.9%;
  height: 3vh;
  margin-top: 10vh;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pageBtn {
  border: #9797FC;
  background-color: #9797FC;
  border-radius: 100px;
  width: 20%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;

}

.btnWraper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

 .mainImg{
  height: 40vh;
  width: 40vw;
 }



 h1.timeLine{
  text-align: center;
 }

 .current {
  background-color: #F1B675;

 }